body {
	font-family: 'Architects Daughter', cursive;
}

.logo {
	padding-bottom: 25px;
	padding-top: 25px;
}

.name {
	padding-top: 25px;
}

.featured {
	font-family: 'Amatic SC', bold;
	color: grey;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.featured-title {
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	margin-bottom: 0;

}

.featured-text {
	font-family: 'Amatic SC', thin;
	color: grey;
	font-size: 20px;
}

.featured-title .featured-text a:link, a:visited, a:hover {
	font-style: none;
	color: black;
}